.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.loginTitle {
    background-color: rgba(245, 66, 145, 1);
    color: white;
    font-weight:bold;
    width: 14rem;
    text-align: center;
    padding: .7rem;
    border-radius: 6px;
}
.loginEmail {
    border: 1px solid black;
    border-radius: 6px;
    height: 40px;
    width: 14rem;
}
.loginPassword {
    border: 1px solid black;
    border-radius: 6px;
    height: 40px;
    width: 14rem;
}